# Created by .gitignore support plugin (hsz.mobi)

#common
.*

#gitignore
!.gitignore

### Java template
*.class
*.

# Mobile Tools for Java (J2ME)
.mtj.tmp/
# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs
hs_err_pid*
