<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="footer">
    <div class="span12 border-top">
        <footer style="margin-top: 30px" class="page-footer">
            <div class="bottom-menu-wrapper">
                <ul class="horizontal-menu compact">
                    <li>&copy; 2014 M. Shakhwat Hossain and Rifatul Islam</li>
                    <li><a href="#">Privacy</a></li>
                    <li><a href="#">Legal</a></li>
                    <li><a href="#">Contact Us</a></li>
                    <li><a href="#">Feedback</a></li>
                </ul>
            </div>
        </footer>
    </div>
</div>
</body>
</html>