<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">

<body>
<div th:fragment="navigation">
    <nav class="navigation-bar dark">
        <div class="navigation-bar-content container">
            <a href="/" class="element">Bookworm</a>
            <span class="element-divider"></span>

            <ul class="element-menu">
                <div class="element input-element">
                    <form>

                        <div class="input-control text">
                            <input type="text" placeholder="Search..."/>
                            <button class="btn-search"></button>
                        </div>
                    </form>

                </div>


                <div class="no-tablet-portrait">
                    <div class="element place-right">
                        <a class="dropdown-toggle" href="#">
                            <span class="icon-cog"></span>
                        </a>
                        <ul class="dropdown-menu dark place-right" data-role="dropdown">
                            <li><a href="#">Sign In</a></li>
                            <li><a href="#">Register</a></li>
                        </ul>
                    </div>
                    <span class="element-divider place-right"></span>
                    <button class="element image-button image-left place-right">
                        <img src="/resources/images/information.png"/>
                    </button>

                    <span class="element-divider place-right"></span>
                    <button class="element image-button image-left place-right">
                        Mr.Xyx
                        <img src="/resources/images/me.jpg"/>
                    </button>

                    <span class="element-divider place-right"></span>
                    <button class="element image-button image-left place-right">
                        <a href="#">Home</a>
                    </button>

                </div>
            </ul>
        </div>
    </nav>
</div>
</body>
</html>
