<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/header :: header"></div>
    <title>::.Login</title>
</head>
<body class="metro">
<div th:include="fragments/navigation :: navigation" class="bg-dark"></div>
<div class="container" style="margin: 50px">
    <div class="grid">
        <div class="row">
            <div class="span4">
                <form th:action="@{/login}">
                    <fieldset>
                        <legend>Login</legend>
                        <lable>user id</lable>
                        <div class="input-control text" data-role="input-control">
                            <input type="text" placeholder="user id/email"/>
                            <button class="btn-clear" tabindex="-1"></button>
                        </div>
                        <lable>password</lable>
                        <div class="input-control password" data-role="input-control">
                            <input type="password" placeholder="password"/>
                            <button class="btn-reveal" tabindex="-1"></button>
                        </div>
                        <input type="submit" class="success" value="Login"/>
                    </fieldset>
                </form>
            </div>
            <div class="span1" style="border-right:1px solid darkgray;height:200px; margin-top: 50px"></div>
            <div class="span3" style="margin-top: 100px">
                Not Registered Yet ? <br/>
                <a th:href="@{registration}"> Register Here</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>