<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:include="fragments/header :: header"></div>
    <title>::.Profile</title>


    <script>

        $(document).ready(function () {

            $("#wishedBookAddButton").click(function () {
                var title = $('#bookTitle').val();
                var author = $('#bookAuthor').val();
                var json = { "title": title, "author": author};

                $.ajax({
                    url: $("#addWishedBookForm").attr("action"),
                    data: JSON.stringify(json),
                    type: "POST",

                    beforeSend: function (xhr) {
                        $('#loadingImageWishedBook').show();
                        xhr.setRequestHeader("Accept", "application/json");
                        xhr.setRequestHeader("Content-Type", "application/json");
                    },

                    success: function (addedWishedBookId) {
                        alert(addedWishedBookId);

                        $("#wishedBookTable  tr:last").after
                        ("<tr id="+addedWishedBookId+"> <td>" + title + "</td> <td>" + author + "</td> <td> remove </td> </tr>").show("slow");

                        $('#bookTitle').val("");
                        $('#bookAuthor').val("");

                        $('#loadingImageWishedBook').hide();
                        $('#wishedBooksEmpty').hide();
                    }

                });
            });

            $(".removeWishedBook").click(function () {
                var rowId = $(this).closest('tr').attr('id');

                $.ajax({
                    url: "/removeWishedBook",
                    type: "POST",
                    data: {"wishedBookId": rowId},
                    beforeSend: function (xhr) {
                        $('#loadingImageWishedBook').show();
                    },

                    success: function () {
                        $("#" + rowId).fadeOut(400, function () {
                            $(this).remove();
                        });
                        $('#loadingImageWishedBook').hide();
                    }

                });


            });

            $(".removePostedBook").click(function () {
                var rowId = $(this).closest('tr').attr('id');

                $.ajax({
                    url: "/removePostedBook",
                    type: "POST",
                    data: {"postedBookId": rowId},
                    beforeSend: function (xhr) {
                        $('#loadingImagePostedBook').show();
                    },

                    success: function () {
                        $("#" + rowId).fadeOut(400, function () {
                            $(this).remove();
                        });
                        $('#loadingImagePostedBook').hide();
                    }

                });


            });

//            event.preventDefault();


        });

    </script>

</head>
<body class="metro">
<div th:include="fragments/navigation :: navigation" class="bg-dark"></div>
<div class="container">
<div class="accordion with-marker" data-role="accordion" data-closeany="true">
<div class="accordion-frame active ">
    <a class="heading" href="#">Posted Booklist</a>

    <div class="content">
        <div class="grid">
            <div class="row">

                <table class="table striped">
                    <thead>
                    <tr th:if="${not #lists.isEmpty(postedBooks)}">
                        <th class="text-left">Title</th>
                        <th class="text-left">Author</th>
                        <th class="text-left">Post Date</th>
                        <th class="text-left">Status</th>
                        <th class="text-left">Action</th>
                    </tr>

                    <div th:if="${#lists.isEmpty(postedBooks)}">
                     You have no book post .
                     post a book now
                    </div>

                    </thead>
                    <tbody>
                    <tr th:each="postedBook : ${postedBooks}" th:id = "${postedBook.id}" >
                        <td th:text="${postedBook.title}">title</td>
                        <td class="right" th:text="${postedBook.author}"> author </td>
                        <td class="right" th:text="${postedBook.postDateTime}"></td>
                        <td class="right">open</td>
                        <td><input type="button" class="removePostedBook button mini danger" value="remove"/></td>
                    </tr>

                    </tbody>
                    <tfoot>

                    </tfoot>
                </table>
                <div id="loadingImagePostedBook" align="center" style="display: none">
                    <img src="/resources/images/wait_small.gif"/>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="accordion-frame ">
    <a class="heading" href="#">WishedBook</a>

    <div class="content">
        <div class="grid">
            <div class="row">
                <div class="span6">
                    <table class="table striped" id="wishedBookTable">
                        <thead>
                        <tr th:if="${not #lists.isEmpty(wishedBooks)}">
                            <th class="text-left">Title</th>
                            <th class="text-left">Author</th>
                            <th class="text-left">Action</th>
                        </tr>

                        <div th:if="${#lists.isEmpty(wishedBooks)}" id="wishedBooksEmpty">
                            No Books in wished List
                         </div>

                        </thead>
                        <tbody>
                        <tr th:each="wishedBook : ${wishedBooks}" th:id = "${wishedBook.id}" >
                            <td th:text="${wishedBook.title}">Title</td>
                            <td th:text="${wishedBook.author}" class="right">author</td>
                            <td><input type="button" class="removeWishedBook button mini danger" value="remove"/></td>
                        </tr>

                        </tbody>
                        <tfoot></tfoot>
                    </table>
                    <div id="loadingImageWishedBook" align="center" style="display: none">
                        <img src="/resources/images/wait_small.gif"/>
                    </div>

                </div>
                <div class="span1"></div>
                <div class="span4">
                    <form id="addWishedBookForm" th:action="@{/addWishedBook}">
                        <fieldset>
                            <legend>Add New Book To WishList</legend>
                            <lable>Title</lable>
                            <div class="input-control text" data-role="input-control">
                                <input type="text" id="bookTitle" placeholder="type title"/>
                                <button class="btn-clear" tabindex="-1"></button>
                            </div>
                            <lable>Author</lable>
                            <div class="input-control text" data-role="input-control">
                                <input type="text" id="bookAuthor" placeholder="type author"/>
                                <button class="btn-reveal" tabindex="-1"></button>
                            </div>

                            <input type="button" id="wishedBookAddButton" class="success" value="Add"/>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="accordion-frame ">
    <a class="heading" href="#">Personal Information</a>

    <div class="content">
        <div class="grid">
            <div class="row">
                <div class="span5">
                    <form>
                        <fieldset>
                            <legend>Basic Info</legend>
                            <lable>First Name</lable>
                            <div class="input-control text" data-role="input-control">
                                <input id="firstName" type="text" disabled = "disabled" th:value ="${user.firstName}" />
                                <button class="btn-clear" tabindex="-1"></button>
                            </div>
                            <lable>Last Name</lable>
                            <div class="input-control text" data-role="input-control">
                                <input id="lastName" type="text" disabled = "disabled" th:value ="${user.lastName}"  />
                                <button class="btn-clear" tabindex="-1"></button>
                            </div>
                            <lable>Email</lable>
                            <div class="input-control text" data-role="input-control">
                                <input id="email" type="text" disabled = "disabled" th:value ="${user.email}"  />
                                <button class="btn-reveal" tabindex="-1"></button>
                            </div>

                            <lable>Area</lable>
                            <div class="input-control select">
                                <select>
                                    <option>District 1</option>
                                    <option>District 2</option>
                                    <option>District 3</option>
                                </select>
                            </div>

                            <input type="submit" class="success" value="update"/>
                        </fieldset>
                    </form>
                </div>
                <div class="span1"></div>
                <fieldset>
                    <legend>Profile Picture</legend>
                    <div class="span3">
                        <div class="tile">
                            <a class="button">Update</a>
                            <img src="/resources/images/access.png"/>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
</div>

</div>
</body>
</html>