<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <div th:include="fragments/header :: header"></div>
    <title>::.Registration</title>
</head>
<body class="metro">
<div th:include="fragments/navigation :: navigation" class="bg-dark"></div>
<div class="container" style="margin: 50px">
    <div class="grid">
        <div class="row">
            <div class="span5">
                <form th:action="@{/registration}" th:method="post" th:object="${user}">
                    <fieldset>
                        <legend>Registration(<p style="color: red;display: inline">All Fields are Required</p>)</legend>
                        <lable>First Name</lable>
                        <div class="input-control text" data-role="input-control">
                            <input type="text" th:field="*{firstName}" placeholder="your first name"/>
                            <button class="btn-clear" tabindex="-1"></button>
                            <span class="fg-red" th:errors="*{firstName}">[error]</span>
                        </div>

                        <lable>Last Name</lable>
                        <div class="input-control text" data-role="input-control">
                            <input type="text" th:field="*{lastName}" placeholder="your last name"/>
                            <button class="btn-clear" tabindex="-1"></button>
                            <span class="fg-red" th:errors="*{lastName}">[error]</span>

                        </div>

                        <lable>Email</lable>
                        <div class="input-control text" data-role="input-control">
                            <input type="text" th:field="*{email}" placeholder="your email address"/>
                            <button class="btn-clear" tabindex="-1"></button>
                            <span class="fg-red" th:errors="*{email}">[error]</span>
                        </div>

                        <lable>Password</lable>
                        <div class="input-control password" data-role="input-control">
                            <input type="password" th:field="*{password}" placeholder="password"/>
                            <button class="btn-reveal" tabindex="-1"></button>
                            <span class="fg-red" th:errors="*{password}">[error]</span>
                        </div>

                        <lable>Confirm Password</lable>
                        <div class="input-control password" data-role="input-control">
                            <input type="password" th:field="*{retypedPassword}" placeholder="retype password"/>
                            <button class="btn-reveal" tabindex="-1"></button>
                            <span class="fg-red" th:errors="*{retypedPassword}">[error]</span>
                        </div>
                        <input type="submit" class="success" value="Register"/>

                    </fieldset>
                </form>
            </div>
            <div class="span1" style="border-right:1px solid darkgray;height:200px; margin-top: 50px"></div>
            <div class="span3" style="margin-top: 100px">
                Have an account ? <br/>
                <a th:href="@{login}">Login Here</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>