<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:include="fragments/header :: header"></div>
    <title>::.Home</title>
</head>

<body class="metro">
<div th:include="fragments/navigation :: navigation" class="bg-dark"></div>


<div class="container" style="margin: 50px">

    <div class="grid fluid">
        <div class="row">
            <div class="span6">
                <fieldset>
                    <legend>
                        Recently Posted books
                    </legend>
                    <div class="tile ol-transparent">
                        <img src="images/bizspark_b.png" style="height:inherit; width:inherit "/>
                    </div>
                    <div class="tile ol-transparent">
                        <img src="images/bizspark_b.png" style="height:inherit; width:inherit "/>
                    </div>
                    <div class="tile ol-transparent">
                        <img src="images/bizspark_b.png" style="height:inherit; width:inherit "/>
                    </div>
                    <div class="tile ol-transparent">
                        <img src="images/bizspark_b.png" style="height:inherit; width:inherit "/>
                    </div>
                    <div class="tile ol-transparent">
                        <img src="images/bizspark_b_2.png" style="height:inherit; width:inherit "/>
                    </div>
                    <div class="tile ol-transparent">
                        <img src="images/bizspark_b_2.png" style="height:inherit; width:inherit "/>
                    </div>
                    <div class="tile ol-transparent">
                        <img src="images/bizspark_b_2.png" style="height:inherit; width:inherit "/>
                    </div>
                    <div class="tile ol-transparent">
                        <img src="images/alchemist.jpg" style="height:inherit; width:inherit "/>
                    </div>
                    <div class="tile ol-transparent">
                        <img src="images/deceptionpoint.jpg" style="height:inherit; width:inherit "/>
                    </div>
                    <div class="tile ol-transparent">
                        <img src="images/deceptionpoint.jpg" style="height:inherit; width:inherit "/>
                    </div>

                </fieldset>
            </div>
            <div class="span2">

            </div>
            <div class="span3">
                <div class="top" style="width: 100% ;  float:right">
                    <fieldset>
                        <legend>want to sell/exchange books?</legend>
                        <div class="tile ol-transparent" style="background-color: darkorange; width:100%;"></div>
                    </fieldset>
                </div>

                <div class="bottom" style="width: 100% ; float:right;">
                    <fieldset>
                        <legend>You may like these books</legend>
                        <div class="tile ol-transparent">
                            <img src="images/bizspark_b_2.png" style="height:inherit; width:inherit "/>
                        </div>
                        <div class="tile ol-transparent">
                            <img src="images/bizspark_b_2.png" style="height:inherit; width:inherit "/>
                        </div>
                        <div class="tile ol-transparent">
                            <img src="images/alchemist.jpg" style="height:inherit; width:inherit "/>
                        </div>
                        <div class="tile ol-transparent">
                            <img src="images/deceptionpoint.jpg" style="height:inherit; width:inherit "/>
                        </div>
                        <div class="tile ol-transparent">
                            <img src="images/deceptionpoint.jpg" style="height:inherit; width:inherit "/>
                        </div>
                    </fieldset>
                </div>

            </div>
        </div>
    </div>
</div>
</body>

</html>