<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.thymeleaf.org">

<head>

    <div th:include="fragments/header :: header"></div>
    <title>::.Home</title>
</head>

<body class="metro">
<div th:include="fragments/navigation :: navigation" class="bg-dark"></div>


<div class="container" style="margin: 50px">

    <div class="grid fluid">
        <div class="row">
            <div class="span6">
                <fieldset>
                    <legend>
                        Recently Posted books
                    </legend>

        <div class=" tile image-container shadow" th:each="recentBookPost, row : ${recentBookPosts}" >
                            <a th:href="@{/bookDetails/}+${recentBookPost.id}">
                            <img th:src="@{/getBookPhoto/}+${row.index}" style="height:inherit; width:inherit "/>
                            </a>
                            <div class="overlay-fluid fg-white" >
                                <p th:text="${recentBookPost.title}" class="fg-white" ></p>
                                <p th:text = "${recentBookPost.author}" class="fg-white" > </p>
                                <p th:text = "${recentBookPost.postDateTime}" class="fg-white" > </p>
                            </div>
                        </div>
                </fieldset>
            </div>
            <div class="span2">

            </div>
            <div class="span3">
                <div class="top  bg-white border" style="width: 100% ;  float:right">
                    <form class="padding10" th:action="@{/addbook}" th:method="get" th:object="${bookForm}">
                        <fieldset>
                            <legend>Want to Sell/Exchange Book ?</legend>
                            <label>Title</label>

                            <div class="input-control text" data-role="input-control">
                                <input type="text" placeholder="type title" th:field="*{title}"/>
                                <button class="btn-clear" tabindex="-1"></button>
                            </div>
                            <label>Author</label>

                            <div class="input-control text" data-role="input-control">
                                <input type="text" placeholder="type author" th:field="*{author}"/>
                                <button class="btn-clear" tabindex="-1"></button>
                            </div>
                            <input type="submit" class="success" value="Post Ad"/>
                        </fieldset>
                    </form>

                </div>

                <div class="bottom" style="width: 100% ; float:right;">
                    <fieldset>
                        <legend>You may like these books</legend>
                        <div class="tile ol-transparent">
                            <img src="images/bizspark_b_2.png" style="height:inherit; width:inherit "/>
                        </div>
                        <div class="tile ol-transparent">
                            <img src="images/bizspark_b_2.png" style="height:inherit; width:inherit "/>
                        </div>
                        <div class="tile ol-transparent">
                            <img src="images/alchemist.jpg" style="height:inherit; width:inherit "/>
                        </div>
                        <div class="tile ol-transparent">
                            <img src="images/deceptionpoint.jpg" style="height:inherit; width:inherit "/>
                        </div>
                        <div class="tile ol-transparent">
                            <img src="images/deceptionpoint.jpg" style="height:inherit; width:inherit "/>
                        </div>
                    </fieldset>
                </div>

            </div>
        </div>
    </div>
</div>
</body>

</html>